<h2>Celulares</h2>

<button mat-flat-button routerLink="/productos/crear">
  Crear nuevo celular
</button>


@if (celulares)
{
<table mat-table [dataSource]="celulares" class="mat-elevation-z8 indice-elementos">
  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef> Marca</th>
    <td mat-cell *matCellDef="let celular"> {{celular.marca}}</td>
  </ng-container>

  <ng-container matColumnDef="modelo">
    <th mat-header-cell *matHeaderCellDef> Modelo</th>
    <td mat-cell *matCellDef="let celular"> {{celular.modelo}}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones</th>
    <td mat-cell *matCellDef="let celular">
      <a mat-flat-button class="editar" routerLink="/productos/editar/{{celular.id}}">Editar</a>
      <button mat-stroked-button class="borrar"
              [swal]="{title: 'Confirmacion', text: '¿Deseas borrar este registro?', showCancelButton: true}"
              (confirm)="borrar(celular.id)">
        Borrar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
  <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
</table>

}
